body {
  background: #fafafa;
}

.dino {
  width: 60px;
  height: 60px;
  background-image: url(dino.png);
  position: absolute; /* Posição independente do que estiver em volta */
  bottom: 0;
}

.tree {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(tree.png);
  bottom: 0;
}

.game-over {
  text-align: center;
  color: black;
  margin-top: 50px;
  font-family: "Press Start 2P", "Arial";
  text-shadow: 4px 4px rgb(115, 115, 115);
}

.score {
  text-align: center;
  color: black;
  margin-top: 250px;
  font-family: "Press Start 2P", "Arial";
  text-shadow: 4px 4px rgb(115, 115, 115);
}

.again {
  text-align: center;
  color: rgb(39, 249, 118);
  margin-top: 300px;
  font-family: "Orbitron", "Arial";
  text-shadow: 4px 4px black;
  letter-spacing: 3px;
}

.again:hover {
  text-shadow: none;
  text-decoration: underline;
}

@keyframes slideright {
  from {
    background-position: 7000%;
  }

  to {
    background-position: 0;
  }
}

.bg {
  position: absolute;
  bottom: 0;
  background-image: url(background.png);
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}
