.pessoas {
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .pessoas {
        flex-direction: column;
        align-items: center;
    }
}